.row{
    height: 50rem;
}

.colone1{
    background-color: rgb(68, 68, 207);
    /* height: 100%; */
}
.colone2{
    background-color: rgba(227, 233, 232, 0.829);
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* height: 100%; */
}
.img_profile{
    margin: auto;
}
.colone1 {
    color: #fff;

}
.colone1 .colGauche{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.icone{
    flex-grow: 4;
    width: 50px;
    text-align: center;
    padding-right: 1rem;

}
.detail_icon{
    width: 100%;
    border-bottom: 1px solid rgb(109, 130, 250);
    flex-grow: 8;
    
}
.fa-phone{
    width: 20px;
    transform: rotate(90deg);

}
.ligne1{
    display: flex;
    
    flex-direction: column;
    background-color: #fff;
    border: #fff 1px solid;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-left: 2rem;
    width: 70%;
    transform: scale(1.1);
}
.titre_icon{
    margin-top: 1.4rem;
    display: flex;
    flex-direction: row;
}
.ligne1 .para .P1{
    
    padding-left: 3.4rem;
}
.date-color{
    color: blue;
    font-size: 15px;
}
P[class=marg]{
    margin-left: 3.5rem;
    border-bottom: 1px solid rgb(144, 176, 247);
}
.para h6{
    margin-left: 3.5rem;
}
.colone2 p{
    font-size: 15px;
    
    
}

